<app-survey-header></app-survey-header>
<div class="container">
  <form action="">
  <div class="row">

  </div>

  <div class="row question" >
    <div class="col-xs-12" >
      <h5 class="row question-header">1. How likely would you be to recommend participating
        in BRELF to your colleague or friend?
      </h5>
        <app-rating class="row"
          (onRatingUpdated)="this.survey.recommendationRate = $event">
        </app-rating>
    </div>
  </div>

  <div class="row question" >
    <div class="col-xs-12" >
      <h5 class="row question-header">2. How would you evaluate organization of BREL Forum?</h5>
      <ul>
        <li >
          <input
            type="radio"
            id="opt1"
            checked="true"
            [(ngModel)]="survey.eventEvaluation"
            name="selector"
            value="Excellent">
          <label for="opt1">Excellent</label>
          <div class="check"></div>
        </li>

        <li>
          <input type="radio"
                 id="opt2"
                 [(ngModel)]="survey.eventEvaluation"
                 name="selector"
                 value="Good">
          <label for="opt2">Good</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li>
          <input
            type="radio"
            id="opt3"
            [(ngModel)]="survey.eventEvaluation"
            name="selector"
            value="Satisfactory">
          <label for="opt3">Satisfactory</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li class="row">
          <input
            type="radio"
            id="opt4"
            [(ngModel)]="survey.eventEvaluation"
            value="Unsatisfactory"
            name="selector">
          <label for="opt4">Unsatisfactory</label>
          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>
      <!--div class="row">
        <input type="text" [(ngModel)]="survey.informed" name="q1" placeholder="Ievadi savu variantu..." />
      </div -->
    </div>
  </div>

  <div class="row question" >
    <div class="col-xs-12" >
      <h5 class="row question-header">3. What did you enjoy the most during the BREL Forum?</h5>
      <ul>
        <li >
          <input
            type="radio"
            id="opt_s2_1"
            checked="true"
            [(ngModel)]="survey.whatEnjoyMost"
            name="selector2"
            value="Speakers’ presentations">
          <label for="opt_s2_1">Speakers’ presentations</label>
          <div class="check"></div>
        </li>

        <li>
          <input type="radio"
                 id="opt_s2_2"
                 [(ngModel)]="survey.whatEnjoyMost"
                 name="selector2"
                 value="Possibility to network">
          <label for="opt_s2_2">Possibility to network</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li>
          <input
            type="radio"
            id="opt_s2_3"
            [(ngModel)]="survey.whatEnjoyMost"
            name="selector2"
            value="Possibility to get new contacts">
          <label for="opt_s2_3">Possibility to get new contacts</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li class="row">
          <input
            type="radio"
            id="opt_s2_4"
            [(ngModel)]="survey.whatEnjoyMost"
            value="Interviews"
            name="selector2">
          <label for="opt_s2_4">Interviews</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li class="row">
          <input
            type="radio"
            id="opt_s2_5"
            [(ngModel)]="survey.whatEnjoyMost"
            value="All the above"
            name="selector2">
          <label for="opt_s2_5">All the above</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li class="row">
          <input
            type="radio"
            id="opt_s2_6"
            [(ngModel)]="survey.whatEnjoyMost"
            value="None of the above"
            name="selector2">
          <label for="opt_s2_6">None of the above</label>
          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row question" >
    <div class="col-xs-12" >
      <h5 class="row question-header">How did you get to know about BREL Forum?</h5>
      <ul>
        <li >
          <input
            type="radio"
            id="opt_s3_1"
            [(ngModel)]="survey.howKnowAboutEvent"
            name="selector3"
            value="Attended it last year">
          <label for="opt_s3_1">Attended it last year</label>
          <div class="check"></div>
        </li>

        <li>
          <input type="radio"
                 id="opt_s3_2"
                 [(ngModel)]="survey.howKnowAboutEvent"
                 name="selector3"
                 value="Got newsletter from partners">
          <label for="opt_s3_2">Got newsletter from partners</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li>
          <input
            type="radio"
            id="opt_s3_3"
            [(ngModel)]="survey.howKnowAboutEvent"
            name="selector3"
            value="Facebook">
          <label for="opt_s3_3">Facebook</label>
          <div class="check"><div class="inside"></div></div>
        </li>

        <li class="row">
          <input
            type="radio"
            id="opt_s3_4"
            [(ngModel)]="survey.howKnowAboutEvent"
            value="Other"
            name="selector3">
          <label for="opt_s3_4">Other</label>
          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>
      <!--div class="row">
        <input type="text" [(ngModel)]="survey.informed" name="q1" placeholder="Ievadi savu variantu..." />
      </div -->
    </div>
  </div>

  <div class="row question" >
    <div class="col-xs-12" >
      <h5 class="row question-header">5. What would be your suggestions for the next year (if any)?</h5>
      <textarea name="improve" [(ngModel)]="survey.thingsToImprove" placeholder="Enter your answer here..."></textarea>
    </div>
  </div>
  <div class="row submit" >
    <div class="col-xs-12" >
      <a  *ngIf="!formSubmitted" [@FadeInOut]="!formSubmitted" (click)="submitSurvey()" class="btn btn-lg btn-primary">{{translate('send')}}</a>
      <h4 class="thankYou" *ngIf="formSubmitted" [@FadeInOut]="formSubmitted">{{translate('thank-you')}}</h4>
    </div>
  </div>
  </form>
</div>
