$l-color-dark: #B5272D;
$l-color-light: #fff;
$l-dark-grey:#3D3A3A;
$l-grey:#9999AC;
$l-grey-bg: #E8F1F2;

.text-green{
  color: $l-color-dark;
}

.gradient-bottom-right {
  background: $l-color-dark; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $l-color-dark, $l-color-light); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $l-color-dark, $l-color-light); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $l-color-dark, $l-color-light); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $l-color-dark, $l-color-light); /* Standard syntax (must be last) */
}
