<div class='container'>
  <h1>High-power Nuclear Electric Generator</h1>
  <div class='text-wrapper'>
    <div class='col'>
      <p>In contrast, the Kilopower reactor will use active fission, or atom splitting, to drive piston-based
        Stirling converters, which are more efficient than RTGs, according to NASA. Kilopower will be able to produce 1
        to
        10 kilowatts of power, continuously, for 10 years or more. For comparison, a typical American household drew 1.2
        kilowatts from the grid on average in 2016.</p>
      <img src='/assets/Group 7.png'>
    </div>
    <div class='col'>
      <div class='progress'>
        <div class='green'></div>
      </div>
      <h1 class='green'>4 843 943 €</h1>
      <div class='mid'>pledged of <b>45 784 600</b> € by <b>1 984</b> backers</div>
      <div>On the deserts of Mars, astronauts might use the Kilopower reactor to electrify habitats, run equipment, and
        turn the planet's resources into oxygen, water and fuel.
      </div>
      <app-invest-button></app-invest-button>
      <app-invest-button [isOneTimePayment]="true"></app-invest-button>
    </div>
  </div>
  <div class='text-wrapper bottom'>
    <div class='col'>
      <p>The technology can scale to hundreds of kilowatts, or even megawatts of power, Mason added. This wouldn't be
        the hundreds to thousands of megawatts produced by industrial powerplants, but kilopower reactors also wouldn't
        be responsible for electrifying systems the size of a city. In addition, several generators could be set up in a
        modular system tailored to the electricity needs of a particular mission.</p>
      <img src='/assets/Group 4.png'>
    </div>
    <div class='col'>
      <p>On the deserts of Mars, astronauts might use the Kilopower reactor to electrify habitats, run equipment, and
        turn the planet's resources into oxygen, water and fuel.
      </p>
      <img src='/assets/Group 5.png'>
    </div>
  </div>
</div>
