<div class="container">
  <h1>Mission</h1>
  <div class="text-wrapper">
    <p class="long">In the next few decades, we will take steps toward establishing a human presence beyond Earth. That’s way the
      team's 5 € on Mars aims to help build a permanent human settlement on Mars. Funding and implementing this plan
      will not be easy, it will be hard. That’s why the team 5€ to Mars, with Crowdfunding platform Marcity and with
      advisers, will evaluate and mitigate risks and identify and overcome difficulties step by step. Crowdfunding
      platform Marcity a global initiative whose goal is to make this everyone’s mission to Mars, including yours. If we
      all work together, we can do this. We’re going to Mars. Come along!</p>
    <p class="mid">Crowdfunding platform Marcity focused on to help develop and to use new space technologies. </p>
  </div>
</div>
