.container {
  margin: 5rem 0;
  position: relative;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.text-wrapper p {
  flex: 50%;
  min-width: 400px;
  padding-right: 3rem;
}
