<div class='container'>
  <h1>Astrobiological expedition "Rover 2020"</h1>
  <div class='text-wrapper'>
    <div class='col'>
      <p>Mars 2020 is a Mars rover mission by NASA's Mars Exploration Program with a planned launch in 2020. It is
        intended to investigate an astro biologically relevant ancient environment on Mars, investigate its surface
        geological processes and history, including the assessment of its past habitability, the possibility of past
        life on Mars, and the potential for preservation of biosignatures within accessible geological materials. The
        rover is planned for launch in 2020.</p>
      <img src='/assets/Group 8.png'>
    </div>
    <div class='col'>
      <div class='progress'>
        <div class='green'></div>
      </div>
      <h1 class='green'>4 843 943 €</h1>
      <div class='mid'>pledged of <b>45 784 600</b> € by <b>1 984</b> backers</div>
    </div>
  </div>
  <div class='text-wrapper'>
    <div class='col'>
      <img src='/assets/Group 9.png'>
    </div>
    <div class='col'>
      <img src='/assets/Group 10.png'>
    </div>
  </div>
</div>
