<div class="screen gradient-bottom-right">
  <div class="container">
    <div class="offers text-center">
      <div class="offer error-box" [ngClass]="{visible: isIdError || isQrError}">
        <span class="exclamation">!</span>
        <div>{{errorText}}</div>
        <div>{{translate('try_again')}}</div>
      </div>
      <div class="offer">
        <h1>
          <img src="/assets/vendor/lmt/lmt-smart-future-2017-1920x1000px_preview.jpeg">
        </h1>
        <input [(ngModel)]="id"
               [ngClass]="{error: isIdError}"
               class="btn-lg"
               placeholder="{{translate('enter_code')}}"/>
        <a (click)="loginWithId(id)" class="btn btn-md btn-primary">{{translate('enter')}}</a>
      </div>
    </div>
    <a href="https://www.walmoo.com" class="walmoo">powered by WALMOO</a>
  </div>
</div>
