@import "../../shared/color-palette";

.screen {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

h1 img {
  max-width: 70%;
}

.btn-lg {
  width: 100%;
  margin: 10px auto;
  padding: 17px 32px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 170px;
}

.btn-md {
  width: 70%;
  border-radius: 25px;
  text-transform: uppercase;
}

input {
  border: 1px solid $l-color-dark;
  text-align: center;
  outline: none;
  color: $l-color-dark;
  &::placeholder {
    color: $l-color-dark;
  }
  &.error{
    &:not(:focus){
      border-color: red;
      color: red;
    }
  }
}

.offer {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 23px 16px 20px 16px;
  text-align: center;
  margin-bottom: 20px;
  &.error-box {
    height: 60px;
    font-size: 15px;
    border-bottom: 5px red solid;
    text-align: left;
    padding: 5px 15px;
    visibility: hidden;
    div {
      margin-left: 20px;
    }
    .exclamation {
      color: red;
      font-size: 40px;
      font-weight: 700;
      float: left;
    }
    &.visible{
      visibility: visible;
    }
  }
}

.container{
  max-width: 300px;
}

.walmoo{
  float:right;
  font-size: 10px;
  color:white;
}

.btn-primary {
  color: #fff;
  background-color: $l-color-light;
  border-color: $l-color-dark;
  background-image: -webkit-linear-gradient(top, $l-color-light 0, $l-color-dark 100%);
  background-image: -o-linear-gradient(top, $l-color-light 0, $l-color-dark 100%);
  background-image: linear-gradient(to bottom, $l-color-light 0, $l-color-dark 100%);
  background-image: linear-gradient(to bottom, $l-color-light 0, $l-color-dark 50%, $l-color-dark 100%);
  transition: .4s;
  background-size: auto 200%;
}

.offers {
  margin: 15px 0 0 0;
  text-align: center;
}
