html {
  background-color: #E8F1F2;;
  min-width: 320px;
}

.icon {
  font-weight: 900;
  text-align: right;
  font-size: 28px;
}

.icon img {
  height: 25px;;
}

.icon div {
  margin-left: auto;
}

.container {
  width: 100%;
  padding: 0;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding-right: 5px;
}

.pointer {
  cursor: pointer;
}

nav {
  height: 60px;
  color: white;
}

nav a {
  color: white;
}

.logo {
  text-align: center;
}

.logo img {
  height: 30px;
}
