.container {
  position: relative;
  height: 720px;
  margin: 20px 0;
}

.container * {
  position: absolute;
}

.dot {
  z-index: 10;
}

.text {
  z-index: 5;
  width: 500px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.text p {
  color: #3F4E59;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.text * {
  position: relative;
}

.text .header {
  font-weight: bold;
}

.text button {
  height: 37px;
  width: 161px;
  border-radius: 4px;
  background-color: #88A4C0;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}

#text1 {
  top: 80px;
  left: 590px;
  visibility: hidden;
}

#dot1 {
  top: 45px;
  left: 1095px;
}

#dot1:hover ~ #text1 {
  visibility: visible;
}

#text1:hover {
  visibility: visible;
}

#text2 {
  top: 215px;
  left: 480px;
  visibility: hidden;
}

#dot2 {
  top: 180px;
  left: 440px;
}

#dot2:hover ~ #text2 {
  visibility: visible;
}

#text2:hover {
  visibility: visible;
}

#text3 {
  top: 270px;
  left: 175px;
  visibility: hidden;
}

#dot3 {
  top: 415px;
  left: 125px;
}

#dot3:hover ~ #text3 {
  visibility: visible;
}

#text3:hover {
  visibility: visible;
}

#text4 {
  top: 275px;
  left: 575px;
  visibility: hidden;
}

#dot4 {
  top: 490px;
  left: 1090px;
}

#dot4:hover ~ #text4 {
  visibility: visible;
}

#text4:hover {
  visibility: visible;
}

#text5 {
  top: 305px;
  left: 515px;
  visibility: hidden;
}

#dot5 {
  top: 570px;
  left: 510px;
}

#dot5:hover ~ #text5 {
  visibility: visible;
}

#text5:hover {
  visibility: visible;
}
