<div class='container'>
  <img src='/assets/base-map.png'>
  <img class="dot" id='dot1' src='/assets/green-map-dot.png'>
  <img class="dot" id='dot2' src='/assets/green-map-dot.png'>
  <img class="dot" id='dot3' src='/assets/green-map-dot.png'>
  <img class="dot" id='dot4' src='/assets/green-map-dot.png'>
  <img class="dot" id='dot5' src='/assets/green-map-dot.png'>
  <div class='text' id='text1'>
    <p class="header">High-power Nuclear Electric generator</p>
    <p>Nuclear power has a long and successful history of use in space exploration. The decay causes a temperature difference across plates of two different kinds of metal — one connected to the reactor and the other to a radiator, which produces a voltage. This component, called a thermocouple, is commonly used in thermometers and temperature sensors.</p>
    <button type='button'>LEARN MORE</button>
  </div>
  <div class='text' id='text2'>
    <p class="header">High-power Nuclear Electric generator</p>
    <p>Nuclear power has a long and successful history of use in space exploration. The decay causes a temperature difference across plates of two different kinds of metal — one connected to the reactor and the other to a radiator, which produces a voltage. This component, called a thermocouple, is commonly used in thermometers and temperature sensors.</p>
    <button type='button'>LEARN MORE</button>
  </div>
  <div class='text' id='text3'>
    <p class="header">High-power Nuclear Electric generator</p>
    <p>Nuclear power has a long and successful history of use in space exploration. The decay causes a temperature difference across plates of two different kinds of metal — one connected to the reactor and the other to a radiator, which produces a voltage. This component, called a thermocouple, is commonly used in thermometers and temperature sensors.</p>
    <button type='button'>LEARN MORE</button>
  </div>
  <div class='text' id='text4'>
    <p class="header">High-power Nuclear Electric generator</p>
    <p>Nuclear power has a long and successful history of use in space exploration. The decay causes a temperature difference across plates of two different kinds of metal — one connected to the reactor and the other to a radiator, which produces a voltage. This component, called a thermocouple, is commonly used in thermometers and temperature sensors.</p>
    <button type='button'>LEARN MORE</button>
  </div>
  <div class='text' id='text5'>
    <p class="header">High-power Nuclear Electric generator</p>
    <p>Nuclear power has a long and successful history of use in space exploration. The decay causes a temperature difference across plates of two different kinds of metal — one connected to the reactor and the other to a radiator, which produces a voltage. This component, called a thermocouple, is commonly used in thermometers and temperature sensors.</p>
    <button type='button'>LEARN MORE</button>
  </div>
</div>
