/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Play", sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #3F4E59;
  overflow: scroll;
  background-image: url("assets/background.png");
  background-repeat: repeat;
}

p {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.shadowed {
  text-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.45);
}

.overlayDonate {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.donateDialog {
  position: absolute;
  background-color: #fefefe;
  top: 30%;
  left: 25%;
  border: 1px solid #888;
  width: 50%;
  min-height: 100px;
  z-index: 3;
  font-family: "Play", sans-serif;
  font-weight: 100;
  color: #3F4E59;
}

.closeDialog {
  color: #aaaaaa;
  top: 0;
  float: right;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Play", sans-serif;
}
.closeDialog:hover,
.closeDialog:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1 {
  font-size: 4rem;
  line-height: 4.4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.mid {
  font-size: 20px;
  line-height: 26px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #32325d;
  line-height: 18px;
  font: 16px "Helvetica Neue", sans-serif;
}
input::-webkit-input-placeholder {
  color: '#aab7c4'
}

.StripeElement {
  background-color: white;
  width: 100%;
  height: 13px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}