/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #3F4E59;
  overflow: hidden;
  background-image: url("assets/background.png");
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.shadowed {
  text-shadow: 0 1px 6px 0 rgba(0,0,0,0.45);
}