@import "../../../shared/color-palette";

.back {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  .icon {
    display: inline;
    text-align: left;
    font-size: 1.7rem;
    img {
        width: 1.7rem;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
  }
}
.title {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  text-align: center;
}