@import "../../../shared/color-palette";

.top {
  height: 40px;
  background-color: white;
}
.container {
  background-color: $l-grey-bg;
}
.activity {
  font-size: 12px;
  padding: 10px 0;
  background-color: white;
}
.border-bottom {
  border-bottom: 1px solid $l-grey-bg;
}
.featured {
  background-color: $l-color-dark;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icons-wrapper {
  float: right;
  .icon {
    padding-right: 0.5rem;
  }
}
.name {
  font-weight: 200;
  font-size: 1.5rem;
}
