<nav class="container gradient-bottom-right">
  <div class="row">
    <div class="col-xs-1 icon">
      <img src="/assets/icon-profile.svg">
    </div>
    <div class="col-xs-4 name">
      {{appScope.fullName}}
    </div>
    <div class="col-xs-4 logo">
      <img routerLink="/home" src="/assets/vendor/loop/logo-loop.svg" class="pointer">
    </div>
    <div class="col-xs-4">
      <div class="icons-wrapper">
        <span class="icon">
          <img routerLink="/home/qr" src="/assets/icon-qr.svg" class="pointer">
        </span>
        <span class="icon">
          <img src="/assets/icon-logout.svg"
          routerLink="/"
          (click)="appScope.reset()"
          class="pointer"
          >
        </span>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row top border-bottom">
    <div class="col-xs-1 text-right">
      <img src="/assets/vendor/icon-calendar.svg">
    </div>
    <div class="col-xs-1 text-green">{{translate('activities')}}</div>
  </div>
  <div class="row activity featured" *ngFor="let activity of featuredActivities">
    <div class="col-xs-12" >
      <app-featured-activity [activity]="activity"></app-featured-activity>
    </div>
  </div>
  <div class="row activity border-bottom" *ngFor="let activity of activities">
    <div class="col-xs-12" >
      <app-activity [activity]="activity"></app-activity>
    </div>
  </div>
</div>
