.your-money-i {
  height: 279px;
  width: 752px;
  color: #ffffff;
  font-family: Play;
  font-size: 80px;
  line-height: 93px;
  z-index: 1;
}

.you-can-transform {
  height: 84px;
  width: 487px;
  color: #ffffff;
  font-family: Play;
  font-size: 36px;
  line-height: 42px;
  z-index: 1;
}

.invest-button {
  height: 76px;
  width: 331px;
  border-radius: 4px;
  background-color: #52c41a;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 27px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}
.mars {
  position: absolute;
  right: 0%;
}

.invest {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 80px;
}
