.your-money-i {
  width: 752px;
  color: #ffffff;
  z-index: 1;
}

.you-can-transform {
  height: 84px;
  width: 487px;
  color: #ffffff;
  z-index: 1;
}

.mars {
  position: absolute;
  right: 0%;
}

.invest {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
