<div class="row row1" >
  <div class="col-xs-1 icon">
    <div class="circle" [ngClass]="{done:activity.done}"></div>
  </div>
  <div class="col-xs-3 image">
    <img [src]="activity.image">
  </div>
  <div class="col-xs-7 info">
    <div class="info-row"><b>{{activity.name}}</b></div>
    <div class="info-row">
      <img src="/assets/vendor/icon-location.svg">
      <div>
        <div *ngFor="let venue of activity.venues">{{venue}}</div>
      </div>
    </div>
  </div>
  <div class="col-xs-1 icon arrow-down">
    <img src="/assets/vendor/icons/down-svg.svg"
         [ngClass]="{open: activity.open}"
         (click)="activity.open = !activity.open">
  </div>
</div>
<div class="row row2" [ngClass]="{hide:!activity.open}">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">{{activity.description}}</div>
</div>
