@import "../../../shared/color-palette";

.qr {
  position: absolute;
  background-color: $l-dark-grey;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  .square{
    margin:auto auto;
    padding: 23px;
    height:320px;
    width: 320px;
    background: url(/assets/qr-scanner.svg) no-repeat center;
    #video{
      height:274px;
      width:274px;
      border-radius: 20px;
    }
  }
}
